[submodule "jquery-datalink"]
	path = jquery-datalink
	url = git://github.com/jquery/jquery-datalink.git
[submodule "jquery-tmpl"]
	path = jquery-tmpl
	url = git://github.com/jquery/jquery-tmpl.git
[submodule "linode-javascript"]
	path = linode-javascript
	url = git://github.com/tjfontaine/linode-javascript.git
[submodule "jquery-ui"]
	path = jquery-ui
	url = git://github.com/jquery/jquery-ui.git
[submodule "ui.tabs.closable"]
	path = ui.tabs.closable
	url = git://github.com/andrewwatts/ui.tabs.closable.git
